git+https://github.com/AmpelProject/Ampel-base.git
git+https://github.com/AmpelProject/Ampel-base-ZTF.git
jupyter==1.0.0
fastavro==0.21.18
numpy==1.16.1
matplotlib==3.0.2
astropy==3.1.1
pymongo==3.7.2
pydantic==0.30
pre-commit>=1.18.3
